.top{
	margin-bottom: 40px;
}
.content{
	height: 4550px;
}
.content .con h3{
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}
.con .img{
	width: 800px;
	height: 580px;
	margin: 0 auto;
}
.con .img img{
	width: 800px;
	height: 503px;
}
.con .img span{
	font-size: 14px;
	text-indent: 2em;
	display: block;
	margin: 10px 0;
}
.con p{
	text-indent: 2em;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 10px;
}